body {
    margin: 0px;
    background: linear-gradient( #8F57FD, turquoise);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    font-family: 'PT Sans', sans-serif;
    color: whitesmoke;
}

.header {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 100%;
}


.imagen-lateral {
    border-radius: 50px;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.50);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.50);
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.columna-principal {
    display: flex;    
    width: 40%;
    max-width: 50%;
    padding-top: 10px;
    /*outline: 1px solid black;*/
}

.columna-secundaria {
    width: 20%;
    position: relative;
    /*max-width: 25%;*/
    /*outline: black solid 1px;*/
    display: flex;
    justify-content: center;


}

@media only screen and (max-width: 1024px) {
    .columna-secundaria {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .columna-principal {
        width: 90%;
        max-width: 95%;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}


.columna-secundaria img {
    width: 100%;
}


.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    color: whitesmoke;
    width: 100%;
    padding: 20px;
    min-height: 370px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container h2 {
    text-align: center;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form input {
    cursor: pointer;
}

.login__container--form label {
    font-size: 20px;
    cursor: pointer;
}

.login__container--form input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 20px;
    outline: none;
}

.numeroPersonas {
    width: 80px;
}

.numeroPeliculas {
    width: 80px;
}

.nuevoPrecioBoleto {
    width: 260px;
}

::placeholder {
    color: whitesmoke;
}

.btnCalcular {
    display: flex;
    justify-content: center;
    
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  

.btn-14 {
    background: #5a13ff;
    border: none;
    z-index: 1;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #5a13ff;
    background-image: linear-gradient(315deg, #b08ffc 0%, #b398fd 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }


.login__container--remember-me {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login__container--remember-me a {
     color: whitesmoke;
     text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--label {
    cursor: pointer;
    display: flex;
    justify-content: left;
    justify-items: center;
}

.login__container--checkbox {
    cursor: pointer;
}

.login__container--social-media > div { /* > div : de la clase login__container--social-media, coje todos los div y aplicale la definición */
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.login__container--social-media img {
    width: 30px;
    object-fit: scale-down;
    padding-right: 10px;
}

.login__container--social-media p {
    font-size: 14px;
}

.login__container--registrate a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.login__container--registrate a:hover {
    text-decoration: underline;
}

.netflixPlan {
    border: none;
    background-color: rgba(60, 0, 129, 0.6);
    border-radius: 10px;

}


/* Style the arrow inside the select element: */
.netflixPlan:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border-radius: 10px;
  border: 6px solid transparent;
  border-color: #290041 transparent transparent transparent;
}

.modal-title {
    color: indigo;
}

.result {
    color: indigo;
}

.my-footer {
    display: flex;
    flex-wrap: nowrap;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    
}
  
.my-footer p {
    margin: 0;
}
  
.my-footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.my-footer a:hover {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}